/* responsive section */
@media (max-width: 767px) {

  .container-blog {
    padding-left: 1.5rem;
    /* Adjust as needed */
    padding-right: 1.5rem;
    /* Adjust as needed */
  }

  .container-footer {
    padding-left: 1.5rem;
    /* Adjust as needed */
    padding-right: 1.5rem;
    /* Adjust as needed */
  }

  .blog-head {
    font-size: 30px;
  }

}

/* loader animation */
#loading-animation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0c367a;
  z-index: 9999;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
}



.spinner-square {
  display: flex;
  flex-direction: row;
  width: 90px;
  height: 120px;
}

.spinner-square>.square {
  width: 17px;
  height: 80px;
  margin: auto auto;
  border-radius: 4px;
}

.square-1 {
  animation: square-anim 1200ms cubic-bezier(0.445, 0.05, 0.55, 0.95) 0s infinite;
}

.square-2 {
  animation: square-anim 1200ms cubic-bezier(0.445, 0.05, 0.55, 0.95) 200ms infinite;
}

.square-3 {
  animation: square-anim 1200ms cubic-bezier(0.445, 0.05, 0.55, 0.95) 400ms infinite;
}

@keyframes square-anim {
  0% {
    height: 80px;
    background-color: rgb(111, 163, 240);
  }

  20% {
    height: 80px;
  }

  40% {
    height: 120px;
    background-color: rgb(111, 200, 240);
  }

  80% {
    height: 80px;
  }

  100% {
    height: 80px;
    background-color: rgb(111, 163, 240);
  }
}






.whatsapp {
  background-color: #576CBC;
  color: white;
  font-weight: 800;
  font-size: 1.6rem;
  text-align: center;
  margin: 0 auto;
  padding: 10px 0;

}

.join-community {
  background: #25D366;
  color: white;
  font-size: 1rem;
  padding: 10px 20px;
  border-radius: 50px;
  cursor: pointer;
}


@media (max-width: 750px) {
  .join-community {
    background: #25D366;
    color: white;
    font-size: 0.9rem;
    padding: 3px 7px;
    border-radius: 50px;
    cursor: pointer;
  }


  ion-icon {
    font-size: 0.9rem;

  }

  .whatsapp {
    background-color: #5073ff;
    color: white;
    font-weight: 700;
    font-size: 0.7rem;
    text-align: center;
    margin: 0 auto;
    padding: 10px 0;

  }
}

.Join-us {
  align-items: center;
  background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
  border: 0;
  margin-top: 3% !important;
  margin: auto;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  color: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  font-weight: bolder;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.Join-us:active,
.Join-us:hover {
  outline: 0;
}

.Join-us span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.Join-us:hover span {
  background: none;
}

@media (min-width: 768px) {
  .Join-us {
    font-size: 24px;
    min-width: 196px;
  }
}


/* Community partner */
.card-container {
  padding-left: 15px;
  /* Adjust the value as per your desired spacing */
  padding-right: 15px;
  /* Adjust the value as per your desired spacing */
  padding-top: 20px;
}

/* Blog section */
.absolute {
  border-radius: 6px;
}